.header {
  padding: 2rem 10rem 2rem 6.5rem;
  max-width: 120rem;
  margin: 0 auto;
  background: #FFFFFF;
  border: 2px solid #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 3rem;
  height: 4rem;
  color: #5C5C5C;
  
}

.loginBlock {
  font-size: 2rem;

}